body {
    background-color: #f4f6f9;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.icon-box {
    width: 55px;
    height: 55px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}
